{% extends 'core/base.html' %}

{% block title %}CRM FCA V.1 {% endblock %}

{% block content %}
<div>

    <!-- Sección de Funcionalidades -->
    <section class="p-8">
        <div class="max-w-4xl mx-auto flex flex-wrap items-start">
            <!-- Columna de Texto -->
            <div class="w-1/2">
                <h2 class="text-2xl font-bold mb-4">Funcionalidades a Implementar</h2>
                
                <div class="mb-6">
                    <h3 class="text-xl font-semibold mb-2 text-blue-900 ">Gestión de Inquilinos y Prospectos</h3>
                    <p>Administra fácilmente la información de tus inquilinos, prospectos y estados de cuenta.</p>
                </div>
    
                <div class="mb-6">
                    <h3 class="text-xl font-semibold mb-2 text-blue-900 ">Seguimiento de Brokers</h3>
                    <p>Organiza y gestiona los brokers de manera eficiente.</p>
                </div>
    
                <div class="mb-6">
                    <h3 class="text-xl font-semibold mb-2 text-blue-900 ">Visualización de Datos</h3>
                    <p>Accede a gráficos y tablas interactivas para analizar el rendimiento de tus propiedades.</p>
                </div>
    
                <div class="mb-6">
                    <h3 class="text-xl font-semibold mb-2 text-blue-900 ">Control de Información</h3>
                    <p>Centraliza y organiza la información de tus propiedades de forma fácil y segura.</p>
                </div>
            </div>

            
            <!-- Columna de Imagen -->
            <div class="w-1/2 justify-center items-center">
                <img src="https://img.freepik.com/free-vector/hand-drawn-business-strategy-with-statistics_23-2149164273.jpg?semt=ais_hybrid" class="rounded">
            </div>
        </div>
    </section>
    

    <!-- Sección de Ventajas -->
    <section class="bg-gray-200 py-16">
        <div class="max-w-4xl mx-auto text-center">
            <h2 class="text-3xl font-bold mb-4">Ventajas de CRM </h2>
            <p class="text-lg mb-8"></p>

            <ul class="text-left">
                <li class="mb-4"><span class="text-blue-900 font-bold">Fácil de Usar:</span> Diseño intuitivo para una experiencia sin complicaciones.</li>
                <li class="mb-4"><span class="text-blue-900 font-bold">Seguridad:</span> Protegemos tus datos con las últimas medidas de seguridad.</li>
                <li class="mb-4"><span class="text-blue-900 font-bold">Escalabilidad:</span> Adaptable a tu crecimiento y necesidades cambiantes.</li>
            </ul>
        </div>
    </section>

    <!-- Sección de Contacto -->
    <section class="bg-gray-300 py-16">
        <div class="max-w-4xl mx-auto text-center">
            <h2 class="text-3xl font-bold mb-4">Contacto</h2>
            <p class="text-lg mb-8">¿Tienes alguna pregunta o necesitas más información? </p>
            <a href="mailto: sebastian.gaona@fcagrp.com" class="bg-blue-900 text-white py-3 px-6 rounded-full font-semibold hover:bg-blue-700 transition duration-300">Enviar Correo Electrónico</a>
        </div>
    </section>


</div>
{% endblock %}
