{% extends 'core/base.html' %}

{% block title %}Sociedades{% endblock %} 

{% block content %}
<div class="mt-8 bg-white p-8 rounded-xl shadow-md mx-auto pt-4 overflow-x-auto border border-blue-900 max-w-6xl w-full">
    <h1 class="text-3xl text-blue-900 mb-6">Sociedades</h1>
    <a href="{% url 'add_society' %}" class="py-2 px-4 bg-blue-900 hover:bg-blue-700 rounded-full text-white">Crear Sociedad</a>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-4 gap-6 mt-6">
        {% for society in societies %}
            <a href="{% url 'societies_detail' society.id %}" class="bg-gray-100 hover:bg-gray-200 p-4 rounded-md">
                {% if society.society_image %}
                    <img src="{{ society.society_image.url }}" alt="{{ society.name }}" class="w-full h-40 object-cover object-center mb-4 rounded-md">
                {% else %}
                    <!-- Use Unsplash image with specific keyword (e.g., "community") if no society image is available -->
                    <img src="https://source.unsplash.com/800x500/?realstate" alt="{{ society.name }}" class="w-full h-40 object-cover object-center mb-4 rounded-md">
                {% endif %}
                <h2 class="text-blue-900 text-lg font-semibold">{{ society.name }}</h2>
            </a>
        {% endfor %}
    </div>
</div>

{% endblock %}
